
   <p class="fontstyle">
     <strong>Comment:</strong>
     <%= comment.reviews %>
   </p>

    <p>
       <strong> Added by:</strong>
       <%= comment.user.name %>
    </p>
   <p>
     <a class= "button" <%= link_to 'Destroy Comment', [comment.movie, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></a>

